# Table of Contents

# Problem Statement

In [2]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Player data

In [3]:
df_player = pd.read_csv('../data/players.csv')

In [5]:
df_player.head()

,nflId,height,weight,birthDate,collegeName,position,displayName
0,2539334,72,190,1990-09-10,Washington,CB,Desmond Trufant
1,2539653,70,186,1988-11-01,Southeastern Louisiana,CB,Robert Alford
2,2543850,69,186,1991-12-18,Purdue,SS,Ricardo Allen
3,2555162,73,227,1994-11-04,Louisiana State,MLB,Deion Jones
4,2555255,75,232,1993-07-01,Minnesota,OLB,De'Vondre Campbell

In [8]:
df_player.groupby(['position']).count()

          nflId  height  weight  birthDate  collegeName  displayName
position
CB          195     195     195        195          195          195
DB           33      33      33         33           33           33
DE           49      49      49         49           49           49
DT           28      28      28         28           28           28
FB           19      19      19         19           19           19
FS           65      65      65         65           65           65
HB            5       5       5          5            5            5
ILB          56      56      56         56           56           56
K             5       5       5          5            5            5
LB           58      58      58         58           58           58
LS           12      12      12         12           12           12
MLB          29      29      29         29           29           29
NT            5       5       5          5            5            5
OLB         100     100     100        100          100          100
P            13      13      13         13           13           13
QB           71      71      71         71           71           71
RB          135     135     135        135          135          135
S            11      11      11         11           11           11
SS           58      58      58         58           58           58
TE          128     128     128        128          128          128
WR          228     228     228        228          228          228